<main className="container panel-management">
  <h1><%- title %> </h1>

  <div class="container-buttons">
    <a href="/new-group" class="btn btn-yellow">New Group</a>
    <a href="/new-meeti" class="btn btn-blue">New Meeti</a>
    <a href="/edit-profile" class="btn btn-pink">Edit Profile</a>
    <a href="/profile-picture" class="btn btn-yellow">Profile Picture</a>
  </div>

  <div class="section-admin">
    <h2>Yours Meeti's</h2>
    <ul>
      <li>
        <div class="information-admin">
          <p class="date">Monday, 22 of May of 2022</p>
          <h3>E-Commerce in Mexico</h3>
          <small>23 Assistants</small>
        </div>
        <div class="actions container buttons">
          <a href="#" class="btn btn-green">Edit</a>
          <a href="#" class="btn btn-blue2">Assistants</a>
          <a href="#" class="btn btn-red">Delete</a>
        </div>
      </li>
    </ul>
  </div>
  <div class="section-admin">
    <h2>Yours Groups</h2>

    <ul>
      <li>
        <div class="information-admin">
          <h3>BlockChain Guadalajara</h3>
        </div>
        <div class="actions container buttons">
          <a href="#" class="btn btn-green">Edit</a>
          <a href="#" class="btn btn-blue2">Image</a>
          <a href="#" class="btn btn-red">Delete</a>
        </div>
      </li>

      <li>
        <div class="information-admin">
          <h3>GraphQL Guadalajara</h3>
        </div>
        <div class="actions container buttons">
          <a href="#" class="btn btn-green">Edit</a>
          <a href="#" class="btn btn-blue2">Image</a>
          <a href="#" class="btn btn-red">Delete</a>
        </div>
      </li>
    </ul>
  </div>
</main>