<div class="container upcoming-events">
  <h1>
    <%- title %>
  </h1>
  <div class="grid colum-md-3 ">
    <div class="card">
      <img src="/img/imagen1.jpg">
      <div class="card-text">
        <p class="date">Thursday, December 30, 2019</p>
        <a href="#">
          <h3>Business Development and Acceleration</h3>
        </a>
        <div class="info-author">
          <div class="imagen">

          </div>
          <div class="information">
            <p>Organized by:</p>
            <p class="author">Eric Gomez</p>
          </div>
        </div>

      </div>
    </div>

    <div class="card">
      <img src="/img/imagen1.jpg">
      <div class="card-text">
        <p class="date">Thursday, December 30, 2019</p>
        <a href="#">
          <h3>Business Development and Acceleration</h3>
        </a>
        <div class="info-author">
          <div class="imagen">

          </div>
          <div class="information">
            <p>Organized by:</p>
            <p class="author">Eric Gomez</p>
          </div>
        </div>

      </div>
    </div>

    <div class="card">
      <img src="/img/imagen1.jpg">
      <div class="card-text">
        <p class="date">Thursday, December 30, 2019</p>
        <a href="#">
          <h3>Business Development and Acceleration</h3>
        </a>
        <div class="info-author">
          <div class="imagen">

          </div>
          <div class="information">
            <p>Organized by:</p>
            <p class="author">Eric Gomez</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>