<div class="header-event">
  <div class="container">
    <div class="resume-event">
      <h1>Event Name</h1>

      <div class="info-author">
        <div class="image">
          <img src="" alt="">
        </div>
        <div class="information">
          <p>Organized by:</p>
          <p class="author">
            <a href="">Eric</a>
            Creator of:
            <a href="">Node Mexico</a>
          </p>
        </div>
      </div>
    </div>

    <div class="question-assistance">
      <p>Will you attend?</p>
      <a href="#" class="btn btn-blue">Si</a>
    </div>
  </div>
</div>

<main class="content-event">
  <div class="container">
    <div class="information-event">
      <div class="description">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed molestias placeat ex repudiandae, dolore ipsa
          atque maxime sapiente sunt alias quisquam corrupti deserunt adipisci reprehenderit nemo minima recusandae
          ducimus? Magni!</p>
      </div>
      <div class="assistants">
        <div class="title">
          <h2>Assistants</h2>
          <a href="#">See All</a>
        </div>
      </div>

      <div class="comments">
        <h2>Comments</h2>
        <div class="comment">
          <div class="image">
            <img src="" alt="">
          </div>
          <div class="text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
            <p>
              Written by <span>Eric</span>
            </p>

            <input type="button" value="Delete" class="btn btn-blue">           
          </div>
        </div>

        <div class="comment">
          <div class="image">
            <img src="" alt="">
          </div>
          <div class="text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
            <p>
              Written by <span>Eric</span>
            </p>          
          </div>
        </div>

        <form action="#" class="default-form comments">
          <legend>Add new comment</legend>
          <div class="campo">
            <label for="">Comment</label>
            <textarea name="comment" ></textarea>
          </div>

          <div class="campo send">
            <input type="submit" value="Send" class="btn btn-pink">
          </div>
        </form>

      </div>

    </div>

    <aside class="information">
      <div class="date">
        <p>Friday, February 25, 2022 8:00 PM Hours</p>
      </div>
      <div class="location">
        <p>Always Alive Avenue</p>
      </div>
    </aside>

  </div>
</main>