<main class="container container-forms no-padding">
  <h1><%- title %> </h1>

  <form class="default-form" method="post">
    <legend>¿ Delete Group? A deleted group cannot be recovered</legend>

    <div class="campo send">
      <input type="submit" class="btn btn-pink" value="Delete Group">
    </div>
  </form>
</main>