<main class="container container-forms no-padding">
  <h1><%- title %> </h1>

  <form action="/new-group" class="default-form" method="post">
    <div class="campo">
      <label for="name">Name</label>
      <input type="text" name="name" placeholder="Name Group">
    </div>

    <div class="campo description">
      <label for="description">Description</label>
      <div class="container-editor">
        <input type="hidden" name="description" id="description">
        <trix-editor input="description"></trix-editor>
      </div>
    </div>
    <div class="campo">
      <label for="catefory">Category</label>

      <select name="category">
        <option value="" selected disabled>Select a category</option>
        <% categories.forEach(function(category) { %>
          <option value="<%- category.id %>"><%- category.name %></option>
        <% }) %>
      </select>
    </div>

    <div class="campo">
      <label for="image">Image</label>
      <input type="file" name="image">
    </div>

    <div class="campo">
      <label for="url">Website</label>
      <input type="url" name="url" placeholder="Website">
    </div>

    <div class="campo send">
      <input type="submit" class="btn btn-pink" value="Create Group">
    </div>
  </form>
</main>