<h1
  style="
    text-align: center;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    "
>Confirm Account</h1>

<p style="
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    "
>Hello, you are one step away from starting to create a community in Meeti, you just have to 
  confirm your account in the following link</p>

<a style="
    display: block; 
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    padding: 1rem;
    background-color: #00c897;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    "
href="<%- url %>">Confirm account</a>

<p style="
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    "
>If you can't access this link, visit: <%- url %> </p>
<p style="
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    "
>If you did not request this email you can ignore it</p>